<!DOCTYPE html>
<html lang="en">

    <head>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Officer-Involved Shootings, Charlotte</title>
      
        <script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
          crossorigin="anonymous"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
      
        <!-- Optional theme -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
          crossorigin="anonymous">
      
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
          crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <!--END OF IMPORT-->
      
      
      
      
      
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <!--<title>OIS</title>-->
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <script src="https://unpkg.com/simple-statistics@5.0.0/dist/simple-statistics.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <style>
          body {
            background-color: unset;
          }
      
          /* table {
          border-collapse: collapse;
          width: 100%;
      } */
      
          th,
          td {
            text-align: left;
            padding: 8px;
          }
      
          tbody>tr:nth-child(even) {
            background-color: #f2f2f2 !important
          }
      
          tbody>tr:nth-child(odd) {
            background-color: #fff !important
          }
      
          /* th {
        background-color: #2f3439;
        color: white;
      } */
        </style>
      </head>

<body>

 <!-- The sample navigation. We can use it or use something nicer looking-->
<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">

        <a class="navbar-brand" href="/">Home</a>
      </div>

        <ul class="nav navbar-nav navbar-right">

            <!--<li class="dropdown">-->
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">More Options</a>
                <ul class="dropdown-menu">

          <li><a href="/maps">Shooting Maps</a></li>

          <li><a href="/OIS_page/send">Shooting Narratives</a></li>
          <li><a href="/college">College Analytics</a></li>
          <li><a href="/about">About Colleen</a></li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div> 
    
    <!-- /.container-fluid -->
  </nav>


  <div class="container">
    <div class="jumbotron">
      <h1>
        Colleen Karnas-Haines, PhD
        <!--<span id="report-date" style="float: right;">2018</span>-->
      </h1>
      <h3>Data Scientist</h3>
      <p></p>
    </div>
    <div class="row">
        <div class="col-md-6">
          <!--<div class="panel panel-default">
            <div class="panel-body">
              Explore
            </div>
          </div>-->
          <div class="myImage">
            <img src="/static/images/CK_Profile_Pic.jpg" alt="Colleen's picture" width=100%>
            <!--<div id="plot"></div>-->
          </div>
        </div>

            <div class="col-md-6">
              <!--<div class="panel panel-default">
                <div class="panel-body">
                  Explore
                </div>
              </div>-->
              <div class="company">
                  <div></div><a href="https://www.linkedin.com/in/colleen-karnas-haines-phd/"><img src="/static/images/LinkedIn.png" alt="LinkedIn logo" width=5%></a> Learn more at LinkedIn</div>
                    <p><font color="grey">Higher education professional with Ph.D. specializing in ethnographic, 
                        community-centered, and multiculturally based research methods with cognitive science foundation. 
                        Data scientist with SAS certification and graduate level education in statistics, data management, 
                        data analytics, computer programming, and statistical analysis software. Award-winning writer 
                        and experienced university faculty member. Active in Charlotte community through leadership on 
                        nonprofit boards and education-based volunteer work. </font>
                    </p>
                    <p><font color="grey">Read about my UNC Charlotte Data Analytics and Visualization bootcamp experience </font><a href=""><font color="orange">
                      here!</font></a></p>

                    <div class="row">
                      <div class="col-md-3">
                          <div class="myImage">
                              <img src="/static/images/UVA.jpg" alt="UVA logo" width=100%>
                              <!--<div id="plot"></div>-->
                            </div>
                      </div>
                      <div class="col-md-3">
                          <div class="myImage">
                              <img src="/static/images/UMD.jpg" alt="UMD logo" width=100%>
                              <!--<div id="plot"></div>-->
                            </div>
                      </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="myImage">
                                <img src="/static/images/UNCC.gif" alt="UNCC logo" width=100%>
                                <!--<div id="plot"></div>-->
                              </div>
                        </div>
                        <div class="col-md-3">
                            <div class="myImage">
                                <img src="/static/images/NCSU.png" alt="NC State logo" width=80%>
                                <!--<div id="plot"></div>-->
                              </div>
                        </div>
                      </div>
                  </div>
            
            </div>
          </div>